modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
VITE_FIREBASE_API_KEY = "AIzaSyD7bzUWyb1dAr4wtFv3I83FHLD2nE2ccAU"
VITE_FIREBASE_AUTH_DOMAIN = "chat-vichar.firebaseapp.com"
VITE_FIREBASE_DATABASE_URL = "https://chat-vichar-default-rtdb.firebaseio.com"
VITE_FIREBASE_PROJECT_ID = "chat-vichar"
VITE_FIREBASE_STORAGE_BUCKET = "chat-vichar.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID = "725116740007"
VITE_FIREBASE_APP_ID = "1:725116740007:web:c90c35837a1cb394269682"
VITE_CLOUDINARY_CLOUD_NAME = "dfe8dyrcw"
VITE_CLOUDINARY_UPLOAD_PRESET = "chat_upload"
VITE_VAPID_PUBLIC_KEY = "BHYzO4Dnhe9lL9TsPjCZVC0RrW1Sf8oMrCx4OJupYkUBHnRfyaKVkP6_goOsAhN7dyr_Id-_KbYsDda068d82V0"
VAPID_PRIVATE_KEY = "I_3UgMr19sAqGknja4T8cN_i8peHlKgW8wNl2C2H_vk"
VAPID_SUBJECT = "mailto:chatvichar@admin.com"

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 23747
externalPort = 3000
